<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>danger_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,252}</string>
                <key>spriteSourceSize</key>
                <string>{514,252}</string>
                <key>textureRect</key>
                <string>{{0,0},{514,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danger_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,252}</string>
                <key>spriteSourceSize</key>
                <string>{514,252}</string>
                <key>textureRect</key>
                <string>{{514,0},{514,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danger_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,252}</string>
                <key>spriteSourceSize</key>
                <string>{514,252}</string>
                <key>textureRect</key>
                <string>{{1028,0},{514,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danger_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,252}</string>
                <key>spriteSourceSize</key>
                <string>{514,252}</string>
                <key>textureRect</key>
                <string>{{0,252},{514,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,252}</string>
                <key>spriteSourceSize</key>
                <string>{514,252}</string>
                <key>textureRect</key>
                <string>{{514,252},{514,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,252}</string>
                <key>spriteSourceSize</key>
                <string>{514,252}</string>
                <key>textureRect</key>
                <string>{{1028,252},{514,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,252}</string>
                <key>spriteSourceSize</key>
                <string>{514,252}</string>
                <key>textureRect</key>
                <string>{{0,504},{514,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,252}</string>
                <key>spriteSourceSize</key>
                <string>{514,252}</string>
                <key>textureRect</key>
                <string>{{514,504},{514,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>primary_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,252}</string>
                <key>spriteSourceSize</key>
                <string>{514,252}</string>
                <key>textureRect</key>
                <string>{{1028,504},{514,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>primary_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,252}</string>
                <key>spriteSourceSize</key>
                <string>{514,252}</string>
                <key>textureRect</key>
                <string>{{0,756},{514,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>primary_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,252}</string>
                <key>spriteSourceSize</key>
                <string>{514,252}</string>
                <key>textureRect</key>
                <string>{{514,756},{514,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>primary_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,252}</string>
                <key>spriteSourceSize</key>
                <string>{514,252}</string>
                <key>textureRect</key>
                <string>{{1028,756},{514,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>secondary_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,252}</string>
                <key>spriteSourceSize</key>
                <string>{514,252}</string>
                <key>textureRect</key>
                <string>{{0,1008},{514,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>secondary_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,252}</string>
                <key>spriteSourceSize</key>
                <string>{514,252}</string>
                <key>textureRect</key>
                <string>{{514,1008},{514,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>secondary_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,252}</string>
                <key>spriteSourceSize</key>
                <string>{514,252}</string>
                <key>textureRect</key>
                <string>{{1028,1008},{514,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>secondary_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,252}</string>
                <key>spriteSourceSize</key>
                <string>{514,252}</string>
                <key>textureRect</key>
                <string>{{0,1260},{514,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>success_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,252}</string>
                <key>spriteSourceSize</key>
                <string>{514,252}</string>
                <key>textureRect</key>
                <string>{{514,1260},{514,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>success_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,252}</string>
                <key>spriteSourceSize</key>
                <string>{514,252}</string>
                <key>textureRect</key>
                <string>{{1028,1260},{514,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>success_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,252}</string>
                <key>spriteSourceSize</key>
                <string>{514,252}</string>
                <key>textureRect</key>
                <string>{{0,1512},{514,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>success_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,252}</string>
                <key>spriteSourceSize</key>
                <string>{514,252}</string>
                <key>textureRect</key>
                <string>{{514,1512},{514,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>app_buttons.png</string>
            <key>size</key>
            <string>{1542,1764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c881e535871b2e3cb37d4d30e13d51b3:4607ef2952e846f71c051c4850a65628:cc7e74360a743c9338538dfbaef79960$</string>
            <key>textureFileName</key>
            <string>app_buttons.png</string>
        </dict>
    </dict>
</plist>
