<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,115}</string>
                <key>spriteSourceSize</key>
                <string>{100,115}</string>
                <key>textureRect</key>
                <string>{{10,10},{100,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,115}</string>
                <key>spriteSourceSize</key>
                <string>{100,115}</string>
                <key>textureRect</key>
                <string>{{10,135},{100,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>debuff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,115}</string>
                <key>spriteSourceSize</key>
                <string>{100,115}</string>
                <key>textureRect</key>
                <string>{{10,260},{100,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>failure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,115}</string>
                <key>spriteSourceSize</key>
                <string>{100,115}</string>
                <key>textureRect</key>
                <string>{{10,385},{100,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sumon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,115}</string>
                <key>spriteSourceSize</key>
                <string>{100,115}</string>
                <key>textureRect</key>
                <string>{{10,510},{100,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>IntentIconsAtlas.png</string>
            <key>size</key>
            <string>{120,635}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a340db982eed8577fb4482faa6ef227c:9a9b0490842f4479f071e6d14dda15d0:1c0b879aa1884439a590147d9fbae0a1$</string>
            <key>textureFileName</key>
            <string>IntentIconsAtlas.png</string>
        </dict>
    </dict>
</plist>
