<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>core-filled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,378}</string>
                <key>spriteSourceSize</key>
                <string>{384,378}</string>
                <key>textureRect</key>
                <string>{{0,0},{384,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>core.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,378}</string>
                <key>spriteSourceSize</key>
                <string>{384,378}</string>
                <key>textureRect</key>
                <string>{{384,0},{384,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defend-filled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,378}</string>
                <key>spriteSourceSize</key>
                <string>{384,378}</string>
                <key>textureRect</key>
                <string>{{0,378},{384,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,378}</string>
                <key>spriteSourceSize</key>
                <string>{384,378}</string>
                <key>textureRect</key>
                <string>{{384,378},{384,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>engineering-filled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,378}</string>
                <key>spriteSourceSize</key>
                <string>{384,378}</string>
                <key>textureRect</key>
                <string>{{0,756},{384,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>engineering.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,378}</string>
                <key>spriteSourceSize</key>
                <string>{384,378}</string>
                <key>textureRect</key>
                <string>{{384,756},{384,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon-filled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,378}</string>
                <key>spriteSourceSize</key>
                <string>{384,378}</string>
                <key>textureRect</key>
                <string>{{0,1134},{384,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,378}</string>
                <key>spriteSourceSize</key>
                <string>{384,378}</string>
                <key>textureRect</key>
                <string>{{384,1134},{384,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slots.png</string>
            <key>size</key>
            <string>{768,1512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:254d865251ebb3a8d1180326e578daeb:ed881b891e979d15aceddc99622064e5:fb1daecc551b8f0150ddccf1ce243e8e$</string>
            <key>textureFileName</key>
            <string>slots.png</string>
        </dict>
    </dict>
</plist>
