<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>End_turn_button_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,310}</string>
                <key>spriteSourceSize</key>
                <string>{538,310}</string>
                <key>textureRect</key>
                <string>{{0,0},{538,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>End_turn_button_o.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,310}</string>
                <key>spriteSourceSize</key>
                <string>{538,310}</string>
                <key>textureRect</key>
                <string>{{538,0},{538,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>End_turn_button_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,310}</string>
                <key>spriteSourceSize</key>
                <string>{538,310}</string>
                <key>textureRect</key>
                <string>{{1076,0},{538,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>endTurnButton.png</string>
            <key>size</key>
            <string>{1614,310}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afa70a42aa18ec041790c76cd027fa65:08538cd81649fc9da99baaf2ceb9dabe:0561440482b2babbafc38df30780ef6b$</string>
            <key>textureFileName</key>
            <string>endTurnButton.png</string>
        </dict>
    </dict>
</plist>
