<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomber_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,104}</string>
                <key>spriteSourceSize</key>
                <string>{150,104}</string>
                <key>textureRect</key>
                <string>{{0,0},{150,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drednout_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,104}</string>
                <key>spriteSourceSize</key>
                <string>{150,104}</string>
                <key>textureRect</key>
                <string>{{150,0},{150,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>interceptor_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,104}</string>
                <key>spriteSourceSize</key>
                <string>{150,104}</string>
                <key>textureRect</key>
                <string>{{300,0},{150,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pulsar_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,104}</string>
                <key>spriteSourceSize</key>
                <string>{150,104}</string>
                <key>textureRect</key>
                <string>{{450,0},{150,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playersIcons.png</string>
            <key>size</key>
            <string>{600,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa5b2c192f3097e93cca29dc57f849af:ee42ed047ed0adf3ff63bfb28b158313:c0255ece2cb8fb18697459cdcbb6c314$</string>
            <key>textureFileName</key>
            <string>playersIcons.png</string>
        </dict>
    </dict>
</plist>
