<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomber.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,200}</string>
                <key>spriteSourceSize</key>
                <string>{500,200}</string>
                <key>textureRect</key>
                <string>{{0,0},{500,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drednout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,200}</string>
                <key>spriteSourceSize</key>
                <string>{500,200}</string>
                <key>textureRect</key>
                <string>{{500,0},{500,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>interceptor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,200}</string>
                <key>spriteSourceSize</key>
                <string>{500,200}</string>
                <key>textureRect</key>
                <string>{{1000,0},{500,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pulsar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,200}</string>
                <key>spriteSourceSize</key>
                <string>{500,200}</string>
                <key>textureRect</key>
                <string>{{1500,0},{500,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playersAtlas.png</string>
            <key>size</key>
            <string>{2000,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa1ec800fc7a8e65a5dc34221e272937:cc79e38c98e63f1e365840f10d8060b7:266d6c1bce3eb7d49662c9c9bb006764$</string>
            <key>textureFileName</key>
            <string>playersAtlas.png</string>
        </dict>
    </dict>
</plist>
