<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bastion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{527,478}</string>
                <key>spriteSourceSize</key>
                <string>{527,478}</string>
                <key>textureRect</key>
                <string>{{0,0},{527,478}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caustic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{527,478}</string>
                <key>spriteSourceSize</key>
                <string>{527,478}</string>
                <key>textureRect</key>
                <string>{{0,478},{527,478}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>server.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{527,478}</string>
                <key>spriteSourceSize</key>
                <string>{527,478}</string>
                <key>textureRect</key>
                <string>{{0,956},{527,478}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>striker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{527,478}</string>
                <key>spriteSourceSize</key>
                <string>{527,478}</string>
                <key>textureRect</key>
                <string>{{0,1434},{527,478}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vanguards.png</string>
            <key>size</key>
            <string>{527,1912}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0ee4e64ddc8c19a051268fd6f749b82:d20af5ea76119ec45024538aab0ffebd:321b95c8d643e93e74f524c19ff43e2c$</string>
            <key>textureFileName</key>
            <string>vanguards.png</string>
        </dict>
    </dict>
</plist>
